In [34]:
import pymysql

def main():
    no = int(input('编号：'))
    name = input('名字：')
    loc = input('所在地：')
    con = pymysql.connect(
        host='127.0.0.1', 
        port=3306, 
        database='llh_test', 
        charset='utf8', 
        user='root', 
        password='2333'
    )
    try:
        with con.cursor() as cursor:
            result = cursor.execute(
                'insert into tb_dept values(%s, %s, %s)',
                (no, name, loc)
            )
        if result == 1:
            print('add success!')
        con.commit()
    finally:
        con.close()
    
    
if __name__ == '__main__':
    main()

编号：66
名字：芦荟工作室
所在地：杭州
add success!

In [29]:
import pymysql

def main():
    no = int(input('编号：'))
    con = pymysql.connect(
        host='127.0.0.1', 
        port=3306, 
        database='llh_test', 
        charset='utf8', 
        user='root', 
        password='2333',
        autocommit=True
    )
    try:
        with con.cursor() as cursor:
            rst = cursor.execute(
                'delete from tb_dept where dno=%s',
                (no,)
            )
        if rst == 1:
            print('delete success!')
    finally:
        con.close()

if __name__ == '__main__':
    main()

编号：66
delete success!

In [38]:
import pymysql

def mian():
    no = int(input('编号：'))
    name = input('名字：')
    loc = input('所在地：')
    con = pymysql.connect(
        host='127.0.0.1', 
        port=3306, 
        database='llh_test', 
        charset='utf8', 
        user='root', 
        password='2333',
        autocommit=True
    )
    try:
        with con.cursor() as cursor:
            rst = cursor.execute(
                'update tb_dept set dname=%s, dloc=%s where dno=%s',
                (name, loc, no)
            )
        if rst == 1:
            print('更新成功!')
    finally:
        con.close()
if __name__ == '__main__':
    main()

编号：66
名字：芦荟工作室
所在地：杭州

IntegrityError: (1062, "Duplicate entry '66' for key 'PRIMARY'")

In [40]:
import pymysql
from pymysql.cursors import DictCursor

def main():
    con = pymysql.connect(
        host='127.0.0.1', 
        port=3306, 
        database='llh_test', 
        charset='utf8', 
        user='root', 
        password='2333',
        autocommit=True
    )
    try:
        with con.cursor(cursor=DictCursor) as cursor:
            cursor.execute('select dno as no, dname as name, dloc as loc from tb_dept')
            rst = cursor.fetchall()
#             print(rst)
            print('编号\t名称\t\t所在地')
            for dept in rst:
                print(dept['no'], end='\t')
                print(dept['name'], end='\t\t')
                print(dept['loc'])
    finally:
        con.close()

if __name__ == '__main__':
    main()

[{'no': 10, 'name': '会计部', 'loc': '北京'}, {'no': 20, 'name': '研发部', 'loc': '成都'}, {'no': 30, 'name': '销售部', 'loc': '重庆'}, {'no': 40, 'name': '运维部', 'loc': '深圳'}, {'no': 66, 'name': '芦荟工作室', 'loc': '杭州'}]
编号	名称		所在地
10	会计部		北京
20	研发部		成都
30	销售部		重庆
40	运维部		深圳
66	芦荟工作室		杭州

In [57]:
import pymysql
from pymysql.cursors import DictCursor


class Emp(object):
    
    def __init__(self, no, name, job, sal):
        self.no = no
        self.name = name
        self.job = job
        self.sal = sal
        
    def __str__(self):
        return f'\n编号：{self.no}\n姓名：{self.name}\n职位：{self.job}\n月薪：{self.sal}\n'
    
def main():
    page = int(input('页码：'))
    size = int(input('大小：'))
    con = pymysql.connect(
        host='127.0.0.1', 
        port=3306, 
        database='llh_test', 
        charset='utf8', 
        user='root', 
        password='2333',
        autocommit=True
    )
    try:
        with con.cursor(cursor=DictCursor) as cursor:
            cursor.execute(
                'select eno as no, ename as name, job, sal from tb_emp limit %s,%s',
                ((page - 1) * size, size)
            )
            for emp_tuple in cursor.fetchall():
                emp = Emp(*emp_tuple.values())
                print(emp)
    finally:
        con.close()

if __name__ == '__main__':
    main()

页码：2
大小：5

编号：3244
姓名：欧阳锋
职位：程序员
月薪：3200


编号：3251
姓名：张翠山
职位：程序员
月薪：4000


编号：3344
姓名：黄蓉
职位：销售主管
月薪：3000


编号：3577
姓名：杨过
职位：会计
月薪：2200


编号：3588
姓名：朱九真
职位：会计
月薪：2500